<header class="bg-light shadow">
    <nav class="py-2 d-flex justify-content-between align-items-center container mx-auto">
        <div class="d-flex gap-3 align-items-center">
            <img 
                src="../../../assets/logo.png" 
                alt="logo"
                width="40"
                height="50"
            />

            <h5 
                class="m-0" 
                style="font-weight: 300; cursor: pointer;"
                routerLink="/product-show"
            >
                iPad
            </h5>

            <h5 
                class="m-0" 
                style="font-weight: 300; cursor: pointer;"
            >
                iPhone
            </h5>

            <h5 
                class="m-0" 
                style="font-weight: 300; cursor: pointer;"
            >
                Watch
            </h5>

            <h5 
                class="m-0" 
                style="font-weight: 300; cursor: pointer;"
            >
                AirPods
            </h5>
        </div>

        <ul class="d-flex gap-4 align-items-center m-0">
            <li class="list-unstyled" style="cursor: pointer;">
                <h5 class="m-0" style="font-weight: 300; " routerLink="/home">Home</h5>
            </li>
            
            <li 
                class="list-unstyled" 
                style="cursor: pointer;"
                routerLink="/product-show"
            >
                <h5 class="m-0" style="font-weight: 300;">Products</h5>
            </li>

            <li 
                class="list-unstyled" 
                style="cursor: pointer;"
                routerLink="/profile"
            >
                <i class="pi pi-user fw-semibold text-danger" style="font-size: 1rem;"></i>
            </li>
            
            <button 
                class="btn btn-danger d-flex align-items-center justify-content-center gap-2"
                (click)="onClickLogout()"
            >
                Logout
                <i class="pi pi-arrow-right" style="font-size: 1rem;"></i>
            </button>
        </ul>
    </nav>
</header>

<div class="container mx-auto mt-5" *ngIf="category === 'ipad'">
    <div class="row rounded shadow p-4" *ngFor="let p of product">
        <div class="col-5 align-self-center">
            <img 
                [src]="p.image"
                alt="product image"
                class="w-100"
                height="500"
                style="object-fit: cover;"
            />
        </div>

        <div class="col-7 p-5">
            <h3 class="" style="font-size: 64px; font-weight: 400;">{{p.name}}</h3>

            <div class="d-flex justify-content-between">
                <h3 class="" style="font-weight: 400;">{{p.price | currency: 'thb' : '฿' : '1.2-2'}}</h3>
                
                <button 
                    class="btn btn-primary text-white rounded-pill"
                    (click)="onClickBuy()"
                >
                    buy
                </button>

            </div>

            <div class="d-flex flex-column gap-3 mt-5">
                <div class="d-flex gap-5 align-items-center">
                    <img 
                        src="../../../assets/m2-icon.png" 
                        alt="detail image" 
                        width="50" 
                        height="50" 
                        style="object-fit: contain;"
                    />
                    <h4 class="m-0 fw-normal">ชิป Apple M2</h4>
                </div>

                <div class="d-flex gap-5 align-items-center">
                    <img 
                        src="../../../assets/came-icon.png" 
                        alt="detail image" 
                        width="50" 
                        height="50" 
                        style="object-fit: contain;"
                    />
                    <h4 class="m-0 fw-normal">กล้องหน้าอัลตร้าไวด์ความละเอียด 12MP</h4>
                </div>

                <div class="d-flex gap-5 align-items-center">
                    <img 
                        src="../../../assets/came-rel-icon.png" 
                        alt="detail image" 
                        width="50" 
                        height="50"
                        style="object-fit: contain;" 
                    />
                    <h4 class="m-0 fw-normal">กล้องไวด์ความละเอียด 12MP<br />
                        กล้องอัลตร้าไวด์ความละเอียด 10MP</h4>
                </div>

                <div class="d-flex gap-5 align-items-center">
                    <img 
                        src="../../../assets/face-icon.png" 
                        alt="detail image" 
                        width="50" 
                        height="50"
                        style="object-fit: contain;"
                    />
                    <h4 class="m-0 fw-normal">Face ID</h4>
                </div>

                <div class="d-flex gap-5 align-items-center">
                    <img 
                        src="../../../assets/usb-icon.png" 
                        alt="detail image" 
                        width="50" 
                        height="50"
                        style="object-fit: contain;" 
                    />
                    <h4 class="m-0 fw-normal">ช่องต่อ USB-C</h4>
                </div>

                <div class="d-flex gap-5 align-items-center">
                    <img 
                        src="../../../assets/cell-icon.png" 
                        alt="detail image" 
                        width="50" 
                        height="50" 
                        style="object-fit: contain;"
                    />
                    <h4 class="m-0 fw-normal">ระบบเซลลูลาร์ 5G</h4>
                </div>

                <div class="d-flex gap-5 align-items-center">
                    <img 
                        src="../../../assets/pencil-icon.png" 
                        alt="detail image" 
                        width="50" 
                        height="50" 
                        style="object-fit: contain;"
                    />
                    <h4 class="m-0 fw-normal">รองรับ Apple Pencil(รุ่นที่ 2)</h4>
                </div>

                <div class="d-flex gap-5 align-items-center">
                    <img 
                        src="../../../assets/key-icon.png" 
                        alt="detail image" 
                        width="50" 
                        height="50" 
                        style="object-fit: contain;"
                    />
                    <h4 class="m-0 fw-normal">รองรับ Magic Keyboard</h4>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container mx-auto mt-5" *ngIf="category === 'iphone'">
    <div class="row rounded shadow p-4" *ngFor="let p of product">
        <div class="col-5 align-self-center">
            <img 
                [src]="p.image"
                alt="product image"
                class="w-100"
                height="500"
                style="object-fit: cover;"
            />
        </div>

        <div class="col-7 p-5">
            <h3 class="" style="font-size: 64px; font-weight: 400;">{{p.name}}</h3>

            <div class="d-flex justify-content-between">
                <h3 class="" style="font-weight: 400;">{{p.price | currency: 'thb' : '฿' : '1.2-2'}}</h3>
                <button class="btn btn-primary text-white rounded-pill" (click)="onClickBuy()">buy</button>
            </div>

            <div class="d-flex flex-column gap-3 mt-5">
                <div class="d-flex gap-5 align-items-center">
                    <img 
                        src="../../../assets/came-rel-icon.png" 
                        alt="detail image" 
                        width="50" 
                        height="50"
                        style="object-fit: cover;" 
                    />
                    <h4 class="m-0 fw-normal">ระบบกล้องระดับโปร<br />
                        กล้องหลักความละเอียด 48MP<br /> อัลตร้าไวด์เทเลโฟโต้</h4>
                </div>

                <div class="d-flex gap-5 align-items-center">
                    <img 
                        src="../../../assets/face-icon.png" 
                        alt="detail image" 
                        width="50" 
                        height="50"
                        style="object-fit: cover;" 
                    />
                    <h4 class="m-0 fw-normal">Face ID</h4>
                </div>

                <div class="d-flex gap-5 align-items-center">
                    <img 
                        src="../../../assets/cell-icon.png" 
                        alt="detail image" 
                        width="50" 
                        height="50"
                        style="object-fit: cover;" 
                    />
                    <h4 class="m-0 fw-normal">ระบบเซลลูลาร์ 5G</h4>
                </div>

                <div class="d-flex gap-5 align-items-center">
                    <img 
                        src="../../../assets/battery-icon.png" 
                        alt="detail image" 
                        width="50" 
                        height="50"
                        style="object-fit: cover;" 
                    />
                    <h4 class="m-0 fw-normal">เล่นวิดีโอนานสูงสุด 29 ชั่วโมง</h4>
                </div>

                <div class="d-flex gap-5 align-items-center">
                    <img 
                        src="../../../assets/chip-icon.png" 
                        alt="detail image" 
                        width="50" 
                        height="50"
                        style="object-fit: cover;" 
                    />
                    <h4 class="m-0 fw-normal">ชิป A16 Bionic</h4>
                </div>

                <div class="d-flex gap-5 align-items-center">
                    <img 
                        src="../../../assets/sos-icon.png" 
                        alt="detail image" 
                        width="50" 
                        height="50"
                        style="object-fit: cover;" 
                    />
                    <h4 class="m-0 fw-normal">SOS ฉุกเฉิน</h4>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container mx-auto mt-5" *ngIf="category === 'watch'">
    <div class="row rounded shadow p-4" *ngFor="let p of product">
        <div class="col-5 align-self-center">
            <img 
                [src]="p.image"
                alt="product image"
                class="w-100"
                height="500"
                style="object-fit: cover;"
            />
        </div>

        <div class="col-7 p-5">
            <h3 class="" style="font-size: 64px; font-weight: 400;">{{p.name}}</h3>

            <div class="d-flex justify-content-between">
                <h3 class="" style="font-weight: 400;">{{p.price | currency: 'thb' : '฿' : '1.2-2'}}</h3>
                <button class="btn btn-primary text-white rounded-pill" (click)="onClickBuy()">buy</button>
            </div>

            <div class="d-flex flex-column gap-3 mt-5">
                <div class="d-flex gap-5 align-items-center">
                    <img 
                        src="../../../assets/clock-icon.png" 
                        alt="detail image" 
                        width="50" 
                        height="50"
                        style="object-fit: cover;" 
                    />
                    <h4 class="m-0 fw-normal">จอภาพ Retinaสูงสุด 1,000 นิต</h4>
                </div>

                <div class="d-flex gap-5 align-items-center">
                    <img 
                        src="../../../assets/sos-icon.png" 
                        alt="detail image" 
                        width="50" 
                        height="50"
                        style="object-fit: cover;" 
                    />
                    <h4 class="m-0 fw-normal">SOS ฉุกเฉิน</h4>
                </div>

                <div class="d-flex gap-5 align-items-center">
                    <img 
                        src="../../../assets/cell2-icon.png" 
                        alt="detail image" 
                        width="50" 
                        height="50"
                        style="object-fit: cover;" 
                    />
                    <h4 class="m-0 fw-normal">รองรับระบบเซลลูลาร์</h4>
                </div>

                <div class="d-flex gap-5 align-items-center">
                    <img 
                        src="../../../assets/heart-icon.png" 
                        alt="detail image" 
                        width="50" 
                        height="50"
                        style="object-fit: cover;" 
                    />
                    <h4 class="m-0 fw-normal">การแจ้งเตือนอัตราการเต้นของ<br />หัวใจเร็วและช้า</h4>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container mx-auto mt-5" *ngIf="category === 'airpods'">
    <div class="row rounded shadow p-4" *ngFor="let p of product">
        <div class="col-5 align-self-center">
            <img 
                [src]="p.image"
                alt="product image"
                class="w-100"
                height="500"
                style="object-fit: cover;"
            />
        </div>

        <div class="col-7 p-5">
            <h3 class="" style="font-size: 64px; font-weight: 400;">{{p.name}}</h3>

            <div class="d-flex justify-content-between">
                <h3 class="" style="font-weight: 400;">{{p.price | currency: 'thb' : '฿' : '1.2-2'}}</h3>
                <button class="btn btn-primary text-white rounded-pill" (click)="onClickBuy()">buy</button>
            </div>

            <div class="d-flex flex-column gap-3 mt-5">
                <div class="d-flex gap-5 align-items-center">
                    <img 
                        src="../../../assets/post-icon.png" 
                        alt="detail image" 
                        width="50" 
                        height="50"
                        style="object-fit: cover;" 
                    />
                    <h4 class="m-0 fw-normal">ระบบเสียงตามตำแหน่งสำหรับคุณพร้อมการติดตามศีรษะแบบไดนามิก</h4>
                </div>

                <div class="d-flex gap-5 align-items-center">
                    <img 
                        src="../../../assets/noise-cut-icon.png" 
                        alt="detail image" 
                        width="50" 
                        height="50"
                        style="object-fit: cover;" 
                    />
                    <h4 class="m-0 fw-normal">การตัดเสียงรบกวนแบบแอ็คทีฟและโหมดฟังเสียงภายนอก</h4>
                </div>

                <div class="d-flex gap-5 align-items-center">
                    <img 
                        src="../../../assets/time-icon.png" 
                        alt="detail image" 
                        width="50" 
                        height="50"
                        style="object-fit: cover;" 
                    />
                    <h4 class="m-0 fw-normal">ฟังได้นานสูงสุด 20 ชั่วโมงต่อการชาร์จหนึ่งครั้ง</h4>
                </div>

                <div class="d-flex gap-5 align-items-center">
                    <img 
                        src="../../../assets/case-icon.png" 
                        alt="detail image" 
                        width="50" 
                        height="50"
                        style="object-fit: cover;" 
                    />
                    <h4 class="m-0 fw-normal">Smart Case</h4>
                </div>
            </div>
        </div>
    </div>
</div>