
<div 
    class=" d-flex flex-column align-items-center gap-4 py-5" 
    style="background-color: var(--color-grey-1);"
>
    <div 
        class="position-absolute slide-bottom bg-danger text-white rounded py-2 px-3 
        d-flex gap-2 align-items-center" 
        style="left: 100px; top: 100px; cursor: pointer;"
        routerLink="/productshow"
    >
        <i class="pi pi-arrow-left fw-semibold" style="font-size: 1rem;"></i>
        <p class="m-0">Back</p>
    </div>

    <div class="p-1"></div>

    <img 
        src="../../../assets/logo.png" 
        alt="logo"
        class="mt-5 slide-bottom"
        width="70"
        height="75"
    />

    <form 
        class="form d-flex flex-column gap-3 shadow rounded  p-5 align-items-center slide-bottom " 
        style="width: 500px; background-color: #fff;"
        [formGroup]= "signupForm"
        (ngSubmit)="onSubmit()">
    
        <h3 class="mb-4 ">Signup</h3>
        <div class="row align-items-center w-100">
            <div class="col-3 p-0">
                <P class="text-start m-0">Firstname</P>
            </div>

            <div class="col-9 p-0">
                <input  
                    type="text" 
                    placeholder="" 
                    class="form-control  w-100"
                    formControlName="firstname"
                />   
            </div>
        </div>

        <div class="row align-items-center w-100">
            <div class="col-3 p-0">
                <P class="text-start m-0">Lastname</P>
            </div>

            <div class="col-9 p-0">
                <input  
                    type="text" 
                    placeholder="" 
                    class="form-control  w-100"
                    formControlName="lastname"
                />   
            </div>
        </div>

        <div class="row align-items-center w-100">
            <div class="col-3 p-0">
                <P class="text-start m-0">Email</P>
            </div>

            <div class="col-9 p-0">
                <input  
                    type="text" 
                    placeholder="" 
                    class="form-control  w-100"
                    formControlName="email"
                />   
            </div>
        </div>

        <div class="row align-items-center w-100">
            <div class="col-3 p-0">
                <P class="text-start m-0">Password</P>
            </div>

            <div class="col-9 p-0">
                <input  
                    type="text" 
                    placeholder="" 
                    class="form-control  w-100"
                    formControlName="password"
                />   
            </div>
        </div>

        <div class="row align-items-center w-100 mb-4">
            <div class="col-3 p-0">
                <P class="text-start m-0">Image</P>
            </div>

            <div class="col-9 p-0">
                <input  
                    type="text" 
                    placeholder="" 
                    class="form-control  w-100"
                    formControlName="image"
                />   
            </div>
        </div>
    
       
    
        <button 
            type="submit" 
            class="btn btn-danger w-100 "
        >
            submit
        </button>
    
    </form>

    <p class="slide-bottom">
        have an account? 
        <span 
            class="text-primary "
            style="text-decoration: underline; cursor: pointer;"
            routerLink="/login"
        >
            Login here
    </span>
    </p>
</div>
